
{% load staticfiles %}
<html>
    <head>
	
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>construction's blog</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116161365-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116161365-1');
</script>

    </head>
    <body>
        <div class="page-header">
            <h2><a href="">Construction's blog</a></h2>
        </div>
	   
<div class="content container">
    <div class="row">
	<div class="col-md-12">
	    {% for post in posts %}
		<div class="post">
		    <div class="date">
			<p>published: {{ post.published_date }}</p>
			<div>
			    <form action='' method='post'>
			    {{ form.as_p }}
			  </div>  
			<div>
			    <button type="submit" class="btn btn-primary">Відправити</button>
			</div>
		    </div>
		
		    <h2><a href="">{{ post.title }}</a></h2>
		    <p>{{ post.text|linebreaksbr }}</p>
	
		</div>
	    {% endfor %}
	</div>
    </div>
</div>	
	    
	

    </body>
</html>
